@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* font-family: 'Coffee Mood', sans-serif; */
  /* font-family: 'Ningst Mode', sans-serif; */
  /* font-family: 'Jennie on the Block', sans-serif; */
  box-sizing: border-box;
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: 10px;
  scrollbar-color: grey transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 7px;
}
html {
  scroll-behavior: smooth;
  width: 100%;
}
body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  min-width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Nav menu ------------------------------------------------------------------ */
header {
  width: 100%;
  position: absolute;
  padding: 30px 0px;
  left: 0;
  font-family: "Rancho", cursive;
}
.nav {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-sub {
  margin-right: 15px;
}
.nav h1 {
  color: #094b65;
  font-size: 3.5vw;
  font-weight: bolder;
  padding: 10px 15px 10px 50px;
}

.nav a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 10px 15px 10px 15px;
  margin-left: 15px;
  border-radius: 15px;
  transition: 0.5s ease-in;
}
.nav a:hover {
  color: white;
  background-color: #094b65;
}
.nav h2 {
  color: white;
}
/* Page Accueil Spots ----------------------------------------------------------------- */

.imgbgtest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101vh;
  object-fit: cover;
  z-index: -1;
  filter: blur(5px);
}
section.toplink {
  position: absolute;
  top: 40%;
  font-family: "Rancho", cursive;
}

section.toplink h2 {
  color: #094b65;
  font-size: 10vw;
}
section.toplink h3 {
  color: #094b65;
  font-size: 8vw;
}

#ancreSpot {
  position: absolute;
  top: 85vh;
  font-size: 2rem;
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  background-color: #094b65;
  border-radius: 15px;
  font-family: "Rancho", cursive;
  scroll-behavior: smooth;
}
section#parralax {
  width: 100%;
  height: 90%;
  background-color: #094b65bd;
  margin-top: 100vh;
  display: flex;
  justify-content: center;
  box-shadow: inset 20px 20px 60px #084056, inset -20px -20px 60px #0a5674;
}
section#parralax a .toptitle {
  position: fixed;
  bottom: 5%;
  left: 1.5vw;
  font-size: 2rem;
  color: white;
  display: none;
}
.list-lieux {
  width: 85vw;
  min-width: 250px;
  max-width: 1000px;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 50px;
}

/* Lieux ----------------------*/
.color1 {
  background-color: #9196b5;
  box-shadow: 11px 11px 36px #084056, -11px -11px 36px #0a5674;
}
.color1 .btnmaps {
  background-color: #9196b5;
  box-shadow: 5px 5px 17px #7b809a, -5px -5px 17px #a7add0;
}

.color2 {
  background-color: #99acb4;
  box-shadow: 11px 11px 36px #084056, -11px -11px 36px #0a5674;
}
.color2 .btnmaps {
  background-color: #99acb4;
  box-shadow: 5px 5px 17px #6b787e, -5px -5px 17px #c7e0ea;
}

.lieux {
  margin: 25px;
  height: 45%;
  min-height: 275px;
  width: 45%;
  min-width: 225px;
  max-width: 250px;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
  font-family: "Tilt Neon", cursive;
}

.leftarealieux {
  height: 55%;
  max-height: 150px;
  width: 100%;
  border-radius: 50px 0 0 0;
}
.lieux .leftarealieux img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  min-height: 15dvh;
  border-radius: 20px 0 0 0;
  border: solid 4px transparent;
  object-fit: cover;
}
.rightarealieux {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.adresse {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightarealieux h2 {
  color: white;
}
.rightarealieux h3 {
  color: white;
  font-size: medium;
}
.btns {
  margin-top: 5px;
}

.btnmaps {
  margin-top: 10px;
  padding: 1px 4px 1px 4px;
  width: 60%;
  height: fit-content;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.5s ease-in;
  text-decoration: none;
}
/* Footer -------------------------------------------------------------------- */
footer {
  height: 30px;
  background-color: #094b65;
  color: rgb(255, 252, 235);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Tilt Neon", cursive;
}

/* Page Contact ------------------------------------------------------------------------------------- */

.contact-section {
  margin: auto;
  margin-top: 22vh;
  width: 90%;
  font-family: "Tilt Neon", cursive;
}
.contact-section h1 {
  text-align: center;
  color: rgb(0, 0, 0);
}
p {
  text-align: center;
}
.border {
  width: 100px;
  height: 10px;
  background: #094b65;
  margin: 40px auto;
  transition: width 2s ease;
}
.borderanim:hover .border {
  width: 50%;
  border-radius: 30px;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 90%;
  box-sizing: border-box;
  margin: 16px auto;
  border: 0;
  background: #ffffff;
  padding: 15px 25px;
  outline: none;
  color: #084056;
  transition: 0.5s;
  border-radius: 30px;
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
  font-family: "Tilt Neon", cursive;
}
.contact-form-text::placeholder {
  color: #084056;
  font-family: "Tilt Neon", cursive;
}
.contact-form-text:focus {
  box-shadow: 5px 5px 10px #dbdbdb, -5px -5px 10px #ffffff;
}
textarea {
  height: 250px;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  margin: 20px;
  float: right;
  border: 0;
  background: #094b65;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover {
  background: #99acb4;
  box-shadow: 0 0 10px 2px #145c79;
}
/* Page Login ------------------------------------------------------------------------------------ */

.loginform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25vh auto;
  width: 25%;
  min-width: 300px;
  height: 60vh;
  justify-content: space-evenly;
  background: #094b654e;
  box-shadow: 16px 16px 43px #08415738, -16px -16px 43px #0a557343;
  border-radius: 15px;
  padding: 50px 0;
}
.form-control {
  position: relative;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #094b65;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #094b65;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #094b65;
  transform: translateY(-30px);
}
.loginform button {
  border-radius: 20px;
  background-color: #99acb4;
  color: white;
  height: 4vh;
  width: 30vw;
  max-width: 250px;
  min-width: 150px;
  transition: 0.5s ease;
  margin-top: 30px;
  border: none;
  cursor: pointer;
}
.loginform button:hover {
  background-color: #094b65;
}
/* Page des Figures */
.list-figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30vh auto 0 auto;
}
.figurecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 13px 13px 21px #bdbdbd, -13px -13px 21px #ffffff;
  border-radius: 15px;
  width: 85%;
  max-width: 450px;
  min-height: 150px;
  margin: 10px;
  font-size: 85%;
  padding: 5px;
}
.figuretitle {
  margin: 10px auto;
  width: 100%;
}
.figure-explication {
  margin-top: 15px;
}

/* Page Panel Admin -------------------------------------------------------------------------------------*/
.resultmodify {
  margin-top: 30px;
  background-color: #3cb371;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
}

/* No Select text or image  */

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
@media (min-width: 1600px) {
  .nav h1 {
    font-size: 3vw;
  }
}
@media (min-width: 545px) {
  body {
    min-height: 100vh;
  }
  header {
    background-color: #6b787e7b;
  }
}

@media (max-width: 545px) {
  body {
    min-height: 100vh;
  }
  .nav {
    flex-direction: column;
    min-width: 375px;
  }
  .nav h1 {
    font-size: 12vw;
  }
  #ancreSpot {
    top: 65vh;
  }
  .nav-sub {
    margin: 0;
    margin-top: 15px;
  }
  section.toplink h2 {
    color: #094b65;
    font-size: 18vw;
  }
  section.toplink h3 {
    color: #094b65;
    font-size: 13vw;
  }
  .loginform {
    height: 350px;
    margin: auto 100%;
  }
}
